<% provide :title, "About" %>
<main class="container">
  <section class="py-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About Quarto</h1>
        <p class="lead">Quarto is a quick two-player game for two players. Two players try to play against each other in this game for two players. One player chooses an opponent and plays against her. The two players then try to win against the other player. Two people can play.</p>
        <h2>Rules</h2>
        <p>The goal of the game is to get four tokens in a row, which all share one similar characteristic. Each of the tokens can be described by the following characteristics:</p>
        <ul>
          <li>Size: Large or Small</li>
          <li>Color: Dark or Light</li>
          <li>Shape: Round or Squared</li>
          <li>Fill: Filled or Empty</li>
        </ul>
        <p>However, the tricky part is that you don't get to choose which token you will place next. Instead your opponent chooses and hands you a token to play. Afterwards you choose a token and give it to your opponent and so on...</p>
        <p>The game starts with one of the players giving a token to the other.</p>
        <p>
          Ok, so now you know the rules. Have Fun!
        </p>
      </div>
    </div>
  </section>
</main>
